*{
    margin:0;
    padding: 0;
    font-family:sans-serif;
}

.main{
    width: 100%;
    height:100%;
    position:relative;
    overflow: scroll;

}

nav{
    width:80%;
    position: sticky;
    margin: 20px auto;
    z-index:1;
    display: flex;
    align-items: center;
}

.nav_links{
    flex:1;
    text-align: right;

}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
}

.nav_links ul li a{
    color: #070101;
    text-decoration: none;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 10px #1a0202;
}

.nav_links a{
    font-size: 23px;
}

.aboutus{
    margin-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.site_title p{
    font-size: 30px;
}

.aboutus p{
    margin: auto;
    background: white;
    padding: 2em;
    position: relative;
    width:100%;

}



.content p{
    padding-bottom: 20px;
    color:#2c5009;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
}

.bar{
    margin-top: -10px;
    margin-bottom: 100px;
    border-bottom:6px solid #2c5009;
    overflow: auto;
}

h2{
    color:#2c5009;
    margin-bottom: 15px;
    font-size: 50px;
}

nav.site_title{
    width: 50%;
}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  margin-top: 40px;
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
    padding: 5vmin 10vmin;
    position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}