<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <title>Website Design Using HTML And Css</title>
    <link rel = "stylesheet" href="../static/home.css">
</head>
<body>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
    <div class = "main">
        <div class="bar">
            <nav>
                <div class = "site_title">
                    <p>EcoOffice</p>
                </div>

                <div class = "nav_links">
                    <ul>
                        <li> <a href="/products">Products </a> </li>
                        {% if not current_user.is_authenticated %}
                        <li> <a href="/login">Login </a> </li>
                        {% endif %}
                        <li> <a href="/register"> Register</a> </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="content">
            <h2>About us:</h2>
            <div class="p">
                <p>Ние сме група млади ентусиасти, които искат да направят света едно по-чисто  и красиво място и затова сме измислили едно иновативно решение.</p>

                <p>Всяко едно офис предприятие разполага с офис оборудване – столове, етажерки, маси и др. През една или две години това оборудване се сменя, а това означава тези мебели да бъдат депонирани. Ако погледнем по-глобално, говорим за тонове second-hand оборудване.</p>

                <p>С нашия проект EcoOffice ние целим да намалим изхвърлянето на офис оборудването като направим онлайн платформа, в коята големите фирми и предприятия да предлагат своите остарели офис мебели. Тази платформа не цели разпродаване, а даряване. В големите градове повечето училища получават субсидии за чинове и столове. Но в по-малко населените места това невинаги е възможно. И точно затова в нашата платформа ще може да се осъществи контакт. </p>

                <p>Ние сме пределно наясно, че няма как да спрем замърсяването на природата от офис оборудването, но считеме, че по-този начин ще успеем да намалим процента на замърсяване.</p>
            </div>
        </div>
    </div>
</body>
</html>


