<!DOCTYPE html>
<html lang="bg">
<head>
  <title>Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel = "stylesheet" href="../static/register.css">


</head>


<body>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <div class = "main">
        <div class="logo fadeInDown"><EcoOffice>EcoOffice</EcoOffice></div>
        <div class="loginText fadeInDown">Register</div>

        <div class="container">
          <form action="/register" method="post">
            <div class="form-group">
              <label for="usr">Name:</label>
              <input name="username" class="form-control" type="text" required/>
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input name="password" class="form-control" type="password" required/>
            </div>
            <div class="form-group">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="profile_type" id="customer" value="customer" autocomplete="off" checked> I am a Customer
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="profile_type" id="supplier" value="supplier" autocomplete="off"> I am a Supplier
                  </label>
                </div>
            </div>
              <button type="submit" value="Submit">Submit</button>
          </form>
        </div>
    </div>
</div>
</body>