<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
            <div id="header">
                <h1>EcoOffice</h1>
            </div>
            <div id="options">
                <a href="/login">Log In</a>
                <a href="/register" >Sing Up</a>
            </div>
            <div id="about us">
                <h2>About us:</h2>
                <p>Ние сме група млади ентусиасти, които искат да направят света едно по-чисто  и красиво място и затова сме измислили едно иновативно решение.

Всяко едно офис предприятие разполага с офис оборудване – столове, етажерки, маси и др. През една или две години това оборудване се сменя, а това означава тези мебели да бъдат депонирани. Ако погледнем по-глобално, говорим за тонове second-hand оборудване.

С нашия проект EcoOffice ние целим да намалим изхвърлянето на офис оборудването като направим онлайн платформа, в коята големите фирми и предприятия да предлагат своите остарели офис мебели. Тази платформа не цели разпродаване, а даряване. В големите градове повечето училища получават субсидии за чинове и столове. Но в по-малко населените места това невинаги е възможно. И точно затова в нашата платформа ще може да се осъществи контакт.

Ние сме пределно наясно, че няма как да спрем замърсяването на природата от офис оборудването, но считеме, че по-този начин ще успеем да намалим процента на замърсяване.
</p>
            </div>
    </body>
</html>