<html>
<head>
    <title>Website Design Using HTML And Css</title>
    <link rel = "stylesheet" href="../static/home.css">
</head>
<body>
    <div class = "main">
        <nav>
            <div class = "logo">

            </div>
            <p> EcoOffice </p>
            <div class = "nav_links">
                <ul>

                    <li> <a href="/">Home </a> </li>
                    <li> <a href="/login">Login </a> </li>
                    <li> <a href="/register"> Register</a> </li>
                    <li> <a href="/aboutus">About us</a> </li>


                </ul>
            </div>
        </nav>
    </div>
</body>
</html>


